body{
    max-width: 1440px;
    margin: a auto;
}
.dark1{
    color: rgba(19, 19, 19, 1);
}
.dark3{
    color:  rgba(114, 114, 114, 1);
}
.btn{
    background-color: rgba(255, 144, 14, 1);
    color: rgba(255, 255, 255, 1);
    padding: 20px 24px;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 8px;
    border: none;
}
.btn:hover{
    background-color: rgb(187, 103, 103);
    color: azure;
    cursor: pointer;
}
.description{
    color: rgb(53, 133, 7);
    font-size: 1rem;
    font-weight: 400;
}
.nav-container, .banner, .feature-container, .Experience, .facts-container, .sponsor-container{
    max-width: 1220px;
    margin: 0 auto;
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-container>ul{
    display: flex; 
    gap: 24px; 
}
ul{
    list-style-type: none;
}
.nav-container ul a{
    text-decoration: none;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
.section-sub-title{
    font-size: 4rem;
    font-weight: 700;
}
.banner-img{
    max-width: 100%;
}
.banner-container{
    text-align: center;
    max-width: 850px;
    margin: 0 auto;
    margin-bottom: 50px;
}
/* responsive  */
@media screen and (max-width:576px) {

    .nav-container{
        flex-direction: column;
    }
}
/* feature style */
.feature-container{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:24px;
}
.feature-content{
   max-width: 537px;
  margin-left: 100px;  
}
.feature-title{
    font-size: 2.25rem;
    font-weight: 500;
}
#span2{
    color: rgba(255, 144, 14, 1);
    font-size: 2.25rem;
    font-weight: mixed;
}
.image-box{
   max-width: 100%;
}
/* responsive */
@media screen and (max-width:576px) {

    .feature-container{
        flex-direction: column;
        margin-left: 0px;
    }
    .feature-img{
        grid-template-columns: repeat(1,1fr);
        gap: 10px;
    }
    .feature-content{
        margin-left: 0px;
    }
    
}
@media screen and (min-width:576px) and (max-width:992px) {

    .feature-container{
        flex-direction: column;
        margin-left: 0px;
      
    }
    .feature-img{
        grid-template-columns: repeat(2,1fr);
      
    }
    .feature-content{
        margin-left: 0px;
    }
    
}
/* Experience */
.Experience{
    margin-top: 130px;
    display: flex;
    align-items: center;
    gap: 54px;
}
.Experience-title{
   border-left:  5px solid red ;
   padding-left: 20px;
  
}
.Experience-container{
    max-width: 586px;
    margin: 0 auto;
}
.box1{
    padding: 30px;
}
.img-experience img{
    max-width: 100%;
}
.btn-primary{
    background-color:rgba(255, 144, 14, 1) ;
    padding: 15px 35px; 
    border-radius: 8px;
    border: none;
    margin-top: -80px;
    margin-left: -80px;
}
.btn-title{
    color: rgba(255, 255, 255, 1);
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0px;
}
.btn-description{
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 1rem;
}
/* responsive */
@media screen and (max-width:576px) {
    .Experience{
        flex-direction: column;
  
    }
    .btn-primary{
        margin-top: 20px;
        margin-left:20px;
    }
   
}
@media screen and (min-width:576px) and (max-width:962px) {
    .Experience{
        flex-direction: column;
  
    }
    .btn-primary{
        margin-top: 20px;
        margin-left:20px;
    }
   
}
/* facts style */
.facts-container{
    margin-top: 130px;
}
.facts-content{
    max-width: 542px;
    
}
.img-facts img{
    max-width: 100%;
}
.img-facts{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
}
.card{
    display: flex;
    border: 1px solid tomato;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;

}
/* responsive */
@media screen and (max-width:576px) {
    .img-facts{
        grid-template-columns: repeat(1,1fr);
    }
    .img-facts{
        justify-items: center;
       
        
    }
}
@media screen and (min-width:576px) and (max-width:992px){
    .img-facts{
        grid-template-columns: repeat(2,1fr);
    }
    .img-facts{
        justify-items: center;
       
        
    }
}
/* sponsor */
.sponsor-container{
    margin-top: 130px;
    margin-bottom: 130px;
}
.sponsor-content{
    max-width: 542px;
    text-align: center;
    margin: 0 auto;
}
.sponsor-img{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    text-align: center;
    filter: grayscale(100%);
    margin-top: 50px;

}
/* responsive */
@media screen and (max-width:576px) {
    .sponsor-img{
        grid-template-columns: repeat(1,1fr);
        margin-top: 5px;
    }
    .img-box{
        margin-bottom: 10px;
    }
    
}
@media screen and (min-width:567px) and (max-width:992px) {
    .sponsor-img{
        grid-template-columns: repeat(2,1fr);
        margin-top: 5px;
    }
    .img-box{
        margin-bottom: 10px;
    }
    
}
/* footer style */
footer{
    background-color: aquamarine;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content:center ;
    border-radius: 8px;
}